<div class="container">
  <div class="row">
    <div class="col-xs-12 col-s-9 justify-content-md-center mx-auto">
      {{#if userLoggedIn }}
      <div class="card mt-4 justify-content-md-center" id="account-div">
        <div class="card-body">
          {{#if userPhoto}}
          <img class="img-fluid" id="profile-pic" src={{userPhoto}}>
          {{else}}
          <img class="img-fluid" id="profile-pic" src="http://placehold.it/200x200">
          {{/if}}
          <h4 class="inline">Welcome back, <strong>{{userName}}</strong></h4>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h4>Potential Adoptions</h4>
              <hr>
              <ul id="adoption-list">
                {{#each SavedPets}}
                <li class="d-flex justify-content-start" style="color: black; list-style-type: none"><a class="pet-link" data-toggle="modal" data-target="#petModal" data-id={{id}}>{{petName}}</a><button class="remove-pet ml-auto" data-id={{id}}>X</button></li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{else}}
    <div class="card mt-4" id="sign-in-div">
      <div class="card-body">
        <h1 class="card-title">Please Log in to Post or Save pets later</h1>
        <div class="row">
          <div id="login-div" class="col-12">
            <div class="form-group">
              <label for="username-input">Username</label>
              <input type="text" id="username-input" class="form-control" aria-describedby="example-text" placeholder="Username" name="username-input">
            </div>
            <div class="form-group">
              <label for="password-input">Password</label>
              <input type="password" id="password-input" class="form-control" aria-describedby="example-text" placeholder="Password" name="password-input">
            </div>
            <div class="row">
              <div class="col-12">
                <button class="big-button" type="submit" id="sign-in-button">Log In</button>
              </div>
              <div class="col-12">
                <p style="margin-bottom: .5rem; margin-top: 1rem;">Don't have an account?</p>
                <a href="/signup"><button class="big-button mr-auto">Sign Up</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/if}}
  </div>
  <div class="modal fade" id="petModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-pet-name">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <img class="img-fluid rounded mx-auto d-block" id="modal-petProfilepic">
          </div>
          <hr>
          <p id="modal-pet-add1"></p>
          <p id="modal-pet-location"></p>
          <p id="modal-pet-age"></p>
          <p id="modal-pet-desc"></p>
          {{!-- <div id="tag-container">
            {{#each pet.tags}}
            <div class="pet-tag">{{this}}</div>
            {{/each}}
          </div> --}}
          <button id="shelter-contact-btn">Contact Shelter</button>
          <div class="contact-container" style="display: none;">
            <h5 id="modal-contact-email"></h5>
            <h5 id="modal-contact-phone"></h5>
            <p id="modal-pet-org"></p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>