<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="card mt-4">
        <div class="card-body">
          <div class="row">
            <img class="img-fluid rounded mx-auto d-block" id="petProfilePic" src={{pet.photos.[0].full}}>
          </div>
          <h1 id=" pet-name">{{pet.name}}</h1>
          <hr>
          <p>{{pet.age}}</p>
          <p>{{pet.contact.address.city}}, {{pet.contact.address.state}}, {{pet.contact.address.postcode}}</p>

          <p>{{pet.description}}</p>
          <button>Add to your List +</button>
          <button>Contact Shelter</button>
        </div>
      </div>
    </div>
  </div>
</div>